//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Adamina|Lato');

//Variable Overrides
//font variables
$Adamina: 'Adamina', serif;
$Lato: 'Lato', sans-serif;

$font-family-base:            'Lato';
$headings-font-family:        'Adamina';

//color variables
$navy: #242365;
$green: #0c5800;
$yellow: #fedc00;
$red: #ad1e22;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $navy;
$secondary:     $gray-600;
$success:       $green;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;



//style variables

























//Bootstrap and it's default Overrides
@import "./node_modules/bootstrap/scss/bootstrap";
