//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Adamina|Lato');

//Variable Overrides
//font variables
$Adamina: 'Adamina', serif;
$Lato: 'Lato', sans-serif;

$font-family-base:            'Lato';
$headings-font-family:        'Adamina';

//color variables




//style variables

























//Bootstrap and it's default Overrides
@import "./node_modules/bootstrap/scss/bootstrap";
